In [2]:
#for loop

pets_group = ['dog','cat','hamster']

for obj in pets_group:
    print(obj)

dog
cat
hamster

In [5]:
#loop statement
#for statement

month_1 = ['january','march','may','july','august','october','december']
month_2 = ['febuary','april','june','september','november']
for month in month_1:
    print(month)
for months in month_2:
    print(months)

january
march
may
july
august
october
december
febuary
april
june
september
november

In [7]:
num_list = [0,1,2,3,4,5,6,7,8,9,10]

for num in num_list:
    if num%2==0:
        print(num)

0
2
4
6
8
10

In [11]:
#range function
list(range(21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
num_list = [0,1,2,3,4,5,6,7,8,9,10]

for num in range(21):
    if num%2==0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20

In [58]:
#pyramid questions

n=10

i=1;j=0

while(i<=n):
    while(j<=i-1):
        print("* ",end="")
        j+=1
        #printing next line for each 
    print("\r")
    j=0;i+=1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [24]:
#sum numbers divisibe by 3 only
c = 0
for i in range(40):
    if i%3==0:
        c = c+i
        print(c)

0
3
9
18
30
45
63
84
108
135
165
198
234
273

In [45]:
#print the names if it hs 'b'in it

names_list = ['bill Gates','Steve Jobs','Mark Zuckerberg','William Shakespeare']
for names in names_list:
    if 'b' in names:
        print(names)

bill Gates
Steve Jobs
Mark Zuckerberg

In [46]:
#reverse range

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [39]:
#reverse range

numbers_list = [1,2,3,4,5,6,7,8,9,10,]
print("my list is : ",numbers_list)
numbers_list.reverse()
print("reverse list",numbers_list)

my list is :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reverse list [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
#only print even numbers using steps in the range

for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [44]:
#get the characters of a string one by one

string_name = 'Python For Data Science'
for element in string_name:
    print(element,end=" ")
    
print("\n")

P y t h o n   F o r   D a t a   S c i e n c e

In [ ]:
#calculate the average
n = int(input())
s=0
count=0
  for i in range(0,n+1):

In [47]:
#range(starting_point, ending_point-1, step_size)

for i in range(3,10,2):
    print (i)

3
5
7
9

In [59]:
for i in range(0,70,7):
    print(i)

0
7
14
21
28
35
42
49
56
63

In [1]:
pattern = list(range(7))
for num in pattern:
    print("* "*num)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [4]:
for i in range(10,0,-1):
    print(i*"* ")

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
for i in range(10):
    print((10-i)*" "+'*'*i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [8]:
for i in range(6):
     print((6-i)*" "+'* '*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [9]:
for i in range(20):
     print((20-i)*"   "+' * '*i+ (i-1)*' * ')

                                                          *
                                                       *  *  *
                                                    *  *  *  *  *
                                                 *  *  *  *  *  *  *
                                              *  *  *  *  *  *  *  *  *
                                           *  *  *  *  *  *  *  *  *  *  *
                                        *  *  *  *  *  *  *  *  *  *  *  *  *
                                     *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                                  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                               *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                            *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                         *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                      *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
                *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
             *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
       *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
    *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [ ]:
#Control statement for FOR loop
#break : terminates the loop
#continue : skip the current iteratiomn
#pass : place holder for future use

In [20]:
#break

numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    if i > 15:
       #break the loop
          break
    else:
            print(i)

1
4
7
8
15

In [22]:
#break

numbers = [1, 3, 5, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    if i%2==0:
       #break the loop
          break
    else:
            print(i)

1
3
5
7

In [23]:
#continue


numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    if i==20:
       #break the loop
          continue
    else:
            print(i)

1
4
7
8
15
35
45
55

In [24]:
#pass

numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    #calculate multiplication in future
    pass

In [38]:
for i in range(1,11):
    if i== 0:
        break
        
    print(i)
else:
    print("0 was not found in the range")

1
2
3
4
5
6
7
8
9
10
0 was not found in the range

In [39]:
numbers = [4, 2, 5, 7, 8]

for counter, num in enumerate(numbers):
    print(counter,num)

0 4
1 2
2 5
3 7
4 8

In [43]:
numbers = [4, 2, 5, 7, 8]

for counter, num in enumerate(numbers):
    print(f'Number ar{i} index is {n})

SyntaxError: unterminated string literal (detected at line 4) (2683224090.py, line 4)